body {
	background-color: #080D21;
}
.header{
	background-color: #080D21;
	position: fixed;
	width: 100%;
}

.row{
	background-color: #03202e;
	padding: 75px;
	border-radius: 5px;
	margin-top: 20px;
}

.imageContainer{
	width: 100%;
	height: auto;
	background-size: contain;
	margin-top: 60px;
}

.form-control{
	background-color: #080D21;
	border-radius: 10px;
	border-color: #d2dae2;
	font-size: 20px;
	font-family: 'Chivo', sans-serif;
	font-weight:200;
}

.blog-title{
	color: #d2dae2;
	font-family: 'Asul', sans-serif;
	font-size: 25px;
	text-align: left;
	margin-top: 20px;
 }
 
.card-title{
	color: #d2dae2;
	font-family: 'Asul', sans-serif;
	font-size: 30px;
	text-align: left;
}

.card-text{
	color: #d2dae2;
	font-family: 'Chivo', sans-serif;
	font-weight:200;
	font-size: 18px;
	text-align: left;

	margin-top: 20px;
}

.card-image-top{
	max-width: 100%;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	width: 100%;

}

.a:active{
	background-color: pink;
}
  
  /* Add a gray background color and some padding to the footer */
footer {
	background-color: #03202e;
	padding: 25px;
}
  
.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
	display: none; 
  }
}

.container-fluid{
	background-color: #03202e;
	width: 100%;
}

.headerTitle{
	text-align: left; 
	font-family: 'Asul', sans-serif;
	font-size: 50px;
	color: #d2dae2;
}

.navItem{
	font-size: 20px;
	font-weight:200;
	font-family: 'Chivo', sans-serif;
	color: #d2dae2;
}

.nav.navbar-nav li a{
	color: #d2dae2;
}

.nav.navbar-nav li a:hover{
	color: #6C5A89;
}
.navItemActive{
	background-color: #080D21;
	font-size: 20px;
	font-weight:200;
	font-family: 'Chivo', sans-serif;
	color: #6C5A89;
	
}

.footerLinks{
	 list-style: none;
	 text-align: left;
	 font-family: 'Chivo', sans-serif;
	 font-size: 20px;
	 font-weight:200;
}

.btnStyle{
	color: #d2dae2;
	border-radius: 10px; 
	border-color: #d2dae2; 
	font-family: 'Chivo', sans-serif;
	font-weight: 200;
	font-size: 20px;
	
 }

.btnStyle:hover{
	color: #03202e;
	background-color: #d2dae2;
}

.form-inline{
	 margin-left: 50%;
	 margin-top: -70px;
}

.form-group{
	margin-top: 17px;
}

.jumbotron{
	background-image: url("/refrence/lofoten-islands-norway.jpg");
}

.aboutHeader{
	color: #d2dae2;
	font-family: 'Asul', sans-serif;
	font-size: 40px;
	text-align: left;
	margin-top: -20px;

}
.container{
	width: 100%;
}


.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

/* fonts:
	font-family: 'Neuton', serif;
	font-family: 'Mr De Haviland', cursive;
	
	font-family: 'Asul', sans-serif;
	font-family: 'Chivo', sans-serif;
	*/